.product-container {
}

.product__img {
  object-fit: contain;
  width: 50%;
  height: 50%;
}

.product__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.product__title {
  max-width: 30ch;
  color: var(--ACCENT-1);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}

.product__desc {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-height: 3em;
}

.product-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity-container {
  display: flex;
  align-items: center;
  gap: 1em;
}

.increment-btn,
.decrement-btn {
  font: inherit;
  background-color: var(--BG-COLOUR);
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

.increment-btn:hover,
.decrement-btn:hover {
  opacity: 0.8;
}

.add-item-btn {
  background-color: var(--ACCENT-1);
  padding: 1em 1.5em;
  border-radius: 100px;
  color: var(--MAIN-COLOUR);
  text-transform: uppercase;
  text-decoration: none;
}

.add-item-btn:hover {
  opacity: 0.8;
}
